{% if app.session.flashBag.peekAll|length %}
<div class="fixed-top w-25 float-right m-5">
{% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
        <div class="alert alert-{{ type|replace({'error':'danger'}) }} alert-dismissible fade show" role="alert">
            {{ message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
</div>
{% endif %}